html {
    font-size: 62.5%;
}

body{
	width:320px;
	margin:0 auto;
}

.header{
	width: 320px;
	height:80px;
	margin-bottom: 2%;
	background-color: #66ffcc;
}

.contents{
	width: :320px;
	margin-top: 2%;
	margin-bottom: 2%;
}

.boxContainer{
	background-color: #ffffff;
	display:flex;
	display:-moz-flex;
	display:-o-flex;
	display:-webkit-flex;
	display: -ms-flex;
	flex-direction: row;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;

}

.left-colunm{
	display: none;
	background-color: red;
	width: 200px;
	min-height: 300px;
	margin-right: 2.5%;
}

.main-colunm{
	background-color: yellow;
	width:320px;
	min-height: 400px;
}

.right-colunm{
	display: none;
	background-color: blue;
	width: 200px;
	min-height: 300px;
	margin-left: 2.5%;
}

.footer{
	background-color: green;
	width: 320px;
	height: 100px;
	text-align: center;
}

.footer p{
	padding:1%;
	font-size: 1.5rem;
	color:#ffffff;
}